/*Stylize the map*/
#map-canvas
{
    /* Height of these elements */
    height: 600px;

    /* Right padding of these elements */
    right:75px;

    /*Distance from top edge of viewport */
    top: 50px;

    /* No margin around these elements */
    margin: auto;

    /* Disable scrollbars */
    overflow: hidden;
}

#map-show
{
    /* Height of these elements */
    height: 800px;

    /* No margin around these elements */
    margin: auto;

    /* Disable scrollbars */
    overflow: hidden;
}

/* Center form */
#form
{
     /*Position form "absolutely" where we want it */
    position: absolute;

     /*Distance from top edge of viewport */
    top: 560px;

     /*Form's width */
    width: 80%;
}
#form .form-group
{
     /*Block-level flex container */
    display: flex;

     /*Center container's content */
    justify-content: center;
}

/* Stylize text box */
#q
{
    /* Override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* Text box's width */
    width: 300px;
}

/*Stylize the input box and drop down menu*/
.twitter-typeahead{
    /*align the input box*/
    right:70px;
}

/* Stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-menu
{
    background-color: #fff;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}


nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/*Stylize the title Aparkment*/
nav .navbar-brand .red
{
    color: #FA8072;
    font-family: 'Montserrat', sans-serif;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

/*Stylize the text in list*/
ul {
  /*padding for text in the lise*/
  padding:10px;

  /*get rid of bullet from list*/
  list-style-type: none;
}

/*Button style*/
.btn{
    background-color: #FA8072;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*Smaller button for convert*/
.btnS{
    background-color: #FA8072;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer;
}


/*Stylize table head*/
.tbh{
   /*no padding*/
   width:auto;

   /*table head in the center*/
   text-align:center;

   font-family: 'Montserrat', sans-serif;
}

/*Stylize the text on the top*/
#index_bottom{
    height:300px;
    width:1000px;
    padding-left: 120px;
    text-align:center;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

/*Stylize head1*/
.head1{
    text-align:center;
    font-size:50px;
    padding:40px;
    font-family: 'Lora', serif;
    color: #FA8072;
}
