{% extends "layout.html" %}

{% block title %}
    Calculation
{% endblock %}

{% block main %}
    <body>
        <table>
            <thead>
                <tr>
                    <th>Parking Facility</th>
                    <th>Building Area</th>
                    <th>Studio</th>
                    <th>One bedroom</th>
                    <th>Two bedroom</th>
                    <th>Totalprice</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{p}}</td>
                    <td>{{barea}}</td>
                    <td>{{a}}</td>
                    <td>{{b}}</td>
                    <td>{{c}}</td>
                    <td>{{total}}</td>
                </tr>
            </tbody>
        </table>
    </body>
{% endblock %}