{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th class = "tbh">Parking Facility Location</th>
                <th class = "tbh">Building Area (sqf)</th>
                <th class = "tbh">Number of Studio</th>
                <th class = "tbh">Number of One bedroom</th>
                <th class = "tbh">Number of Two bedroom</th>
                <th class = "tbh">Total Price</th>
                <th class = "tbh">Time and Date</th>
            </tr>
        </thead>
        <tbody>
            {% for c in calculations %}
            <tr>
                <td>{{c['Address']}}</td>
                <td>{{c['BldgArea'] | area}}</td>
                <td>{{c['Studio']}}</td>
                <td>{{c['One_bedroom']}}</td>
                <td>{{c['Two_bedroom']}}</td>
                <td>{{c['Totalprice'] | usd}}</td>
                <td>{{c['Time']}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

{% endblock %}
