{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
        <div class="bakcground"></div>
        <div class="container-fluid">
            <form id="form" action="/convert" method="post">
                <!-- https://developers.google.com/maps/documentation/javascript/tutorial -->
                <div id="map-canvas"></div>
            </form>


            <!-- http://getbootstrap.com/css/#forms -->
            <form id="form">
                <div class="form-group">
                    <label class="sr-only" for="q">Address, ZipCode</label>
                    <input class="form-control" id="q" placeholder="Postal Code, Address" type="text"/>
                </div>
            </form>
        </div>


        <h1 class="head1">about aparkment.</h1>
        <div id="index_bottom">
            <p>
                When autonomous vehicles and ride-sharing systems become ubiquitous, parking facilities will become leftover structures.Aparkment provides a platform for developers to seek potential facilities to be converted into residences. A new trend of
                living space typology will be generated just like when loft units were a few years ago.
            </p>
            <p>Let's find out what is available out there and what is the most that you can generate out of selected parking facilities.
            </p>
            <h1 class="head1">search.</h1>
        </div>

{% endblock %}
