{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol"  placeholder="Symbol" >
              {% for name in name%}
              <option value={{name.symbol}}>  {{name.symbol}}  </option>
              {% endfor%}
            </select>
        </div>

        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit"> Sell </button>
    </form>
{% endblock %}